ipykernel
langchain
langchain_community
langchain_classic
python-dotenv
unstructured 
selenium
playwright 
undetected_chromedriver
setuptools
beautifulsoup4
langchain-text-splitters
langchain_qdrant
langchain_google_genai
langchain-huggingface 
sentence_transformers
streamlit
langchain_deepseek
langchain_groq